body {
	background-color: #2F343F;
	color: white;
}

#watch {
	height: 350px;
	width: auto;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#control {
	width: auto;
	margin: 0;
	text-align: center;
}

#bottom {
	width: auto;
	margin: 0;
	padding-top: 5%;
	text-align: center;
}

button {
	background-color: #2F343F;
	border-color: white;
	border-radius: 100%;
	font-size: 34px;
	padding: 20px;
	color: white;
}

.fa-play-circle {
    -moz-transition: all 1s ease;
	transition: all 1s ease;
}

#display {
    font-family: 'IBM Plex Mono', monospace;
	font-size: 70px;
}

.fa-check {
	font-size: 30px;
	color: #5fd354;
}

.mark {
	height: 30px;
	fill: #5fd354;
}
